@import "theme_variables";

@function text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

  @if abs($color-brightness) < ($light-color/2){
    @return white;
  }
  @else {
    @return black;
  }
}

$header-projects-item-bg: text-contrast($header_background);
$header-projects-item-color: text-contrast($header-projects-item-bg);

.header-projects {
  height: 42px;
  display: flex;
  align-items: center;

  .d-header & &-item,
  .d-header & &-item:visited {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.2em 0.4em;
    margin-right: 1em;
    background: $header-projects-item-bg;
    color:  $header-projects-item-color;
    border-radius: 0 1em 1em 0;
    box-shadow: shadow("focus");
  }
}

.group {

  .group-details-container {
    $bg: darken($header_background, 20);
    $color: text-contrast($bg);

    background: transparent;

    .group-bio {
      margin: 2em 0;
      font-size: 1.1487em;
      padding: 1.5em 1.5em 0;
      border:3px solid $tertiary;
      text-align: left;

      & p {
        margin: 0;
        padding: 0;

        & > p {
          padding-bottom: 1.5em;
        }
      }
    }

  }
}

.topic-list-item-project-addon, .category-project-addon {
  font-family: "Lato",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 85%;
  font-weight: 700;
  color: #212529;
  background: repeating-linear-gradient(-55deg, #ebebeb, #ebebeb 2px, #fff 2px, #fff 4px);
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.category-project-addon {
  float: left;

  &.topic-list-item-project-addon {
    margin: 0 1em;
    float: right;
  }

  &.category-title-before-project-addon {
    margin-right: 0.5em;
    float: left;
  }
}

.category-list  {

  .has-logo .category-description,
  .has-logo .subcategories {
    padding-left: 168px;
    clear: none;
  }

  .category-logo {
    clear: left;
    max-width: 150px;
  }

}

.project-bar {
  width: 100%;
  padding-top: 60px;
  margin-bottom: -60px;
  position: relative;
  overflow: hidden;

  display: block;
  background: repeating-linear-gradient(-55deg, #eef7f9, #eef7f9 2px, #fff 2px, #fff 4px);
  text-align: center;

  &:empty {
    display: none;
  }

  &__container {
    padding: 0.2rem;

    a {
      font-weight: 700;
      border-bottom: $tertiary 1px solid;
    }
  }

}
