@import "theme_variables";

@function text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

  @if abs($color-brightness) < ($light-color/2){
    @return white;
  }
  @else {
    @return black;
  }
}

$header-projects-item-bg: text-contrast($header_background);
$header-projects-item-color: text-contrast($header-projects-item-bg);

.d-header {
  border-bottom: rgba($header-projects-item-bg, 0.1) 1px solid;
}

.header-projects {
  height: 42px;
  display: flex;
  align-items: center;

  .d-header & &-item,
  .d-header & &-item:visited {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.2em 0.4em;
    margin-right: 1em;
    background: $header-projects-item-bg;
    color:  $header-projects-item-color;
    border-radius: 0 1em 1em 0;
    box-shadow: shadow("focus");
  }
}

.group {

  .group-details-container {
    $bg: darken($header_background, 20);
    $color: text-contrast($bg);

    background: transparent;

    .group-bio {
      margin: 2em 0;
      font-size: 1.1487em;
      padding: 1.5em;
      border:3px solid $tertiary;
      text-align: left;

      p {
        margin: 0;
        padding: 0;
      }
    }

  }
}

.topic-list-item-project-addon, .category-project-addon {
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  color: text-contrast($header-projects-item-color) !important;
  background:  $header-projects-item-color;
  border-radius: 1em 0 0 1em;
}

.category-project-addon {
  float: left;

  &.topic-list-item-project-addon {
    margin: 0 1em;
    float: right;
  }

  &.category-title-before-project-addon {
    margin-right: 0.5em;
    float: left;
  }
}

.category-list  {

  .has-logo .category-description,
  .has-logo .subcategories {
    padding-left: 168px;
    clear: none;
  }

  .category-logo {
    clear: left;
    max-width: 150px;
  }

}
